$primary: #0f0d59;
$primary-lighter: #2c2a7c;
$primary-light: #1c1a70;
$primary-dark: #050439;
$primary-darker: #02012b;

$secondary: #ffa825;
$secondary-lighter: #ffcf87;
$secondary-light: #ffc369;
$secondary-dark: #df8b0c;
$secondary-darker: #b46c00;

$tertiary: #686c8a;
$tertiary-hyper-light: #d7daee;
$tertiary-lighter: #8c92bf;
$tertiary-light: #797fa6;
$tertiary-dark: #5a5d73;
$tertiary-darker: #464859;

$black: #0a1a29;
$white: #f7f9fc;
$green: #6fb538;
$light-green: #ecf6e3;
$red: #bc423a;
$light-red: #fdeeed;
$yellow: #decf47;
$light-yellow: #fffce0;
