/* CSS RESET */
html,
body,
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  background-color: $white;
}

/* FONT ADJUSTMENTS */
p,
a,
span {
  font-family: 'Poppins', sans-serif;
  color: $black;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Sora', sans-serif;
  color: $black;
}

/* CSS HELPERS */
.w-100 {
  width: 100%;
}

.content {
  max-width: 75rem;
  padding: 0.625rem 1.25rem;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}